In [10]:
from sqlalchemy import create_engine

database="sampledb"
hostname="barista2.mysql.database.azure.com"
username="barista_admin"
password="ilovecoffee123!"

# Connect to the database
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{hostname}/{database}")

# Test the connection
connection = engine.connect()

In [7]:
# Creating the database table from the provided XLS file
import pandas as pd

df = pd.read_excel('SampleSuperstore.xls')
df.head()

#df.to_sql('samplesuperstore', engine)

/var/folders/sl/fgdt3jf15xd619t9skb1vv2m0000gn/T/ipykernel_29223/803303726.py:6: UserWarning: The provided table name 'SampleSuperstore' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('SampleSuperstore', engine)

-1

In [12]:
# Displaying results from the database 
import mysql.connector as conn

try:
    mydb = conn.connect(host=hostname, database=database, user=username, passwd=password, use_pure=True)
    query = "SELECT * FROM samplesuperstore;"
    df = pd.read_sql(query, mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))
    

df.head()

/var/folders/sl/fgdt3jf15xd619t9skb1vv2m0000gn/T/ipykernel_29223/2331926858.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mydb)

,index,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164